In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
min_val = 0
max_val = 100

opcash_to_capex = pd.read_csv('opcash_to_capex_tech.csv').drop(columns=['Unnamed: 0'])
opcash_to_capex = opcash_to_capex[(opcash_to_capex['Operating cash flow to capex'] <= max_val)&
                                  (opcash_to_capex['Operating cash flow to capex'] >= min_val) &
                                  ~(opcash_to_capex['capex'] == 0)]
opcash_to_capex.sort_values(by='Operating cash flow to capex', ascending=True)

,date,Operating cash flow,ticker,capex,Operating cash flow to capex
3296,2022,4.014600e+07,IMMR,-3.000000e+04,0.074727
3300,2018,6.992400e+07,IMMR,-7.400000e+04,0.105829
2135,2022,4.719600e+07,PRVA,-1.040000e+05,0.220358
3411,2018,-9.773000e+06,ATOM,-2.300000e+04,0.235342
3889,2022,-1.751400e+07,WISA,-4.300000e+04,0.245518
...,...,...,...,...,...
310,2013,-5.157000e+07,VRTX,-5.139300e+07,99.656777
716,2018,2.964000e+09,HPE,-2.956000e+09,99.730094
3103,2020,1.167000e+08,RXT,-1.165000e+08,99.828620
3306,2012,-4.249000e+06,IMMR,-4.244000e+06,99.882325
3152,2022,3.338400e+07,MYPS,-3.338000e+07,99.988018

In [4]:
opcash_to_capex = opcash_to_capex[opcash_to_capex.groupby('ticker')['ticker'].transform('count') >= 10]
opcash_to_capex

,date,Operating cash flow,ticker,capex,Operating cash flow to capex
0,2023,1.105430e+11,AAPL,-1.095900e+10,9.913789
1,2022,1.221510e+11,AAPL,-1.070800e+10,8.766199
2,2021,1.040380e+11,AAPL,-1.108500e+10,10.654761
3,2020,8.067400e+10,AAPL,-7.309000e+09,9.059920
4,2019,6.939100e+10,AAPL,-1.049500e+10,15.124440
...,...,...,...,...,...
3844,2015,2.864500e+07,CAMP,-7.437000e+06,25.962646
3845,2014,2.281600e+07,CAMP,-2.133000e+06,9.348703
3846,2013,1.659700e+07,CAMP,-1.852000e+06,11.158643
3847,2012,1.243200e+07,CAMP,-1.076000e+06,8.655084
3849,2010,2.472000e+06,CAMP,-1.066000e+06,43.122977

In [5]:
opcash_to_capex['rank'] = opcash_to_capex.groupby('date')['Operating cash flow to capex'].rank(ascending=False)
opcash_to_capex

,date,Operating cash flow,ticker,capex,Operating cash flow to capex,rank
0,2023,1.105430e+11,AAPL,-1.095900e+10,9.913789,34.0
1,2022,1.221510e+11,AAPL,-1.070800e+10,8.766199,81.0
2,2021,1.040380e+11,AAPL,-1.108500e+10,10.654761,76.0
3,2020,8.067400e+10,AAPL,-7.309000e+09,9.059920,81.0
4,2019,6.939100e+10,AAPL,-1.049500e+10,15.124440,66.0
...,...,...,...,...,...,...
3844,2015,2.864500e+07,CAMP,-7.437000e+06,25.962646,45.0
3845,2014,2.281600e+07,CAMP,-2.133000e+06,9.348703,91.0
3846,2013,1.659700e+07,CAMP,-1.852000e+06,11.158643,85.0
3847,2012,1.243200e+07,CAMP,-1.076000e+06,8.655084,93.0
3849,2010,2.472000e+06,CAMP,-1.066000e+06,43.122977,22.0

In [6]:
opcash_to_capex

,date,Operating cash flow,ticker,capex,Operating cash flow to capex,rank
0,2023,1.105430e+11,AAPL,-1.095900e+10,9.913789,34.0
1,2022,1.221510e+11,AAPL,-1.070800e+10,8.766199,81.0
2,2021,1.040380e+11,AAPL,-1.108500e+10,10.654761,76.0
3,2020,8.067400e+10,AAPL,-7.309000e+09,9.059920,81.0
4,2019,6.939100e+10,AAPL,-1.049500e+10,15.124440,66.0
...,...,...,...,...,...,...
3844,2015,2.864500e+07,CAMP,-7.437000e+06,25.962646,45.0
3845,2014,2.281600e+07,CAMP,-2.133000e+06,9.348703,91.0
3846,2013,1.659700e+07,CAMP,-1.852000e+06,11.158643,85.0
3847,2012,1.243200e+07,CAMP,-1.076000e+06,8.655084,93.0
3849,2010,2.472000e+06,CAMP,-1.066000e+06,43.122977,22.0

In [7]:
opcash_to_capex['quintile'] = pd.qcut(opcash_to_capex['rank'], q=5, labels=False, duplicates='drop') + 1

In [8]:
opcash_to_capex

,date,Operating cash flow,ticker,capex,Operating cash flow to capex,rank,quintile
0,2023,1.105430e+11,AAPL,-1.095900e+10,9.913789,34.0,2
1,2022,1.221510e+11,AAPL,-1.070800e+10,8.766199,81.0,4
2,2021,1.040380e+11,AAPL,-1.108500e+10,10.654761,76.0,4
3,2020,8.067400e+10,AAPL,-7.309000e+09,9.059920,81.0,4
4,2019,6.939100e+10,AAPL,-1.049500e+10,15.124440,66.0,4
...,...,...,...,...,...,...,...
3844,2015,2.864500e+07,CAMP,-7.437000e+06,25.962646,45.0,3
3845,2014,2.281600e+07,CAMP,-2.133000e+06,9.348703,91.0,5
3846,2013,1.659700e+07,CAMP,-1.852000e+06,11.158643,85.0,4
3847,2012,1.243200e+07,CAMP,-1.076000e+06,8.655084,93.0,5
3849,2010,2.472000e+06,CAMP,-1.066000e+06,43.122977,22.0,2

In [9]:
quintile_portfolios = {}

for q in range(1, 6):
    quintile_portfolios[q] = opcash_to_capex[opcash_to_capex['quintile'] == q].copy()

In [10]:
# pd.reset_option('display.max_rows', None)
opcash_to_capex[#(opcash_to_capex['date']==2009) &
                (opcash_to_capex['quintile']==1)].sort_values(by='date')

,date,Operating cash flow,ticker,capex,Operating cash flow to capex,rank,quintile
3397,1998,6.283000e+06,RELL,-4.116000e+06,65.510107,1.0,1
2374,1998,2.066091e+07,PLUS,-3.097322e+06,14.991216,3.0,1
2707,1998,1.761000e+07,SPNS,-6.042000e+06,34.310051,2.0,1
3551,1999,-7.844000e+06,AXTI,-7.527000e+06,95.958695,1.0,1
3754,1999,4.225000e+06,KTCC,-2.288000e+06,54.153846,2.0,1
...,...,...,...,...,...,...,...
1342,2023,3.839500e+07,GWRE,-1.742700e+07,45.388722,10.0,1
3836,2023,-2.293200e+07,CAMP,-1.110000e+07,48.403977,9.0,1
2089,2023,2.351680e+08,SANM,-1.913670e+08,81.374592,3.0,1
919,2023,1.734000e+09,JBL,-1.030000e+09,59.400231,6.0,1
1841,2023,2.799380e+08,ENS,-8.877200e+07,31.711308,18.0,1

In [11]:
len(opcash_to_capex[#(opcash_to_capex['date']==2009) &
                (opcash_to_capex['quintile']==5)]['ticker'].unique())

77

In [21]:
opcash_to_capex_mean = opcash_to_capex[(opcash_to_capex['quintile'] == 1)]['Operating cash flow to capex'].mean()
opcash_to_capex_stdev = opcash_to_capex[(opcash_to_capex['quintile'] == 1)]['Operating cash flow to capex'].std()

21.464353955317605