In [4]:
import requests
import pandas as pd
from api_keys import IEX_api

In [51]:
strategy = 'BALANCE_SHEET'
ticker = 'AAPL'
# url = f'https://api.iex.cloud/v1/data/core/{strategy}/{ticker}/?token={IEX_api}'
url = f'https://api.iex.cloud/v1/data/core/balance_sheet/aapl/quarterly?last=30&token={IEX_api}'
response = requests.get(url)
response

In [53]:
response.json()[-1].keys()

dict_keys(['accountsPayable', 'capitalSurplus', 'commonStock', 'currency', 'currentAssets', 'currentCash', 'currentLongTermDebt', 'filingType', 'fiscalDate', 'fiscalQuarter', 'fiscalYear', 'goodwill', 'intangibleAssets', 'inventory', 'longTermDebt', 'longTermInvestments', 'minorityInterest', 'netTangibleAssets', 'otherAssets', 'otherCurrentAssets', 'otherCurrentLiabilities', 'otherLiabilities', 'propertyPlantEquipment', 'receivables', 'reportDate', 'retainedEarnings', 'shareholderEquity', 'shortTermInvestments', 'symbol', 'totalAssets', 'totalCurrentLiabilities', 'totalLiabilities', 'treasuryStock', 'id', 'key', 'subkey', 'date', 'updated'])

In [10]:
pd.DataFrame(response.json()['lastQuotes'])

             s        a        b  asz  bsz                 t
0          RCG   0.0000   1.5500    0   30  1704502800284318
1        RNWWW   1.1500   0.4701   10   11  1704488430751125
2         BAER   7.5000   5.0000    1   10  1704491904517095
3         DFGX  83.5900  20.9200    1    2  1704489139654692
4         DFSD  51.2900  42.3100    1    2  1704488410010536
...        ...      ...      ...  ...  ...               ...
11105     BKIE   0.0000  67.4400    0    1  1704502800288289
11106  MRDB.WS   0.0600   0.0150    6    2  1704502800020892
11107     BROG   2.8700   2.5200    4    1  1704502399482458
11108     WOLF  41.3100  40.3500    1    1  1704502800308157
11109    BIAFW   0.1125   0.0515   47    1  1704488400364621

[11110 rows x 6 columns]