In [16]:
import yfinance as yf
# yf.pdr_override()
import pandas as pd

In [ ]:
sectors = {
    'Semiconductors': ['QCOM', 'TXN', 'ADI', 'MU', 'ARM'],
    'Software': ['CRM', 'SAP', 'INTU', 'NOW', 'ZI'],
    'Consumer': ['AAPL', 'MSFT', 'SONY', 'LPL', 'SONO'],
    'Infotech': ['ACN', 'IBM', 'FI', 'INFY', 'CTSH']
}

In [43]:
ticker = yf.Ticker("MSFT")
# pd.DataFrame(ticker.info)
ticker.options

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-04 00:00:00-05:00,189.979996,190.050003,187.449997,189.429993,43389500,0.0,0.0
2023-12-05 00:00:00-05:00,190.210007,194.399994,190.179993,193.419998,66628400,0.0,0.0
2023-12-06 00:00:00-05:00,194.449997,194.759995,192.110001,192.320007,41089700,0.0,0.0
2023-12-07 00:00:00-05:00,193.630005,195.000000,193.589996,194.270004,47477700,0.0,0.0
2023-12-08 00:00:00-05:00,194.199997,195.990005,193.669998,195.710007,53377300,0.0,0.0
2023-12-11 00:00:00-05:00,193.110001,193.490005,191.419998,193.179993,60943700,0.0,0.0
2023-12-12 00:00:00-05:00,193.080002,194.720001,191.720001,194.710007,52696900,0.0,0.0
2023-12-13 00:00:00-05:00,195.089996,198.000000,194.850006,197.960007,70404200,0.0,0.0
2023-12-14 00:00:00-05:00,198.020004,199.619995,196.160004,198.110001,66831600,0.0,0.0
2023-12-15 00:00:00-05:00,197.529999,198.399994,197.000000,197.570007,128256700,0.0,0.0
2023-12-18 00:00:00-05:00,196.089996,196.630005,194.389999,195.889999,55751900,0.0,0.0
2023-12-19 00:00:00-05:00,196.160004,196.949997,195.889999,196.940002,40714100,0.0,0.0
2023-12-20 00:00:00-05:00,196.899994,197.679993,194.830002,194.830002,52242800,0.0,0.0
2023-12-21 00:00:00-05:00,196.100006,197.080002,193.500000,194.679993,46482500,0.0,0.0
2023-12-22 00:00:00-05:00,195.179993,195.410004,192.970001,193.600006,37122800,0.0,0.0
2023-12-26 00:00:00-05:00,193.610001,193.889999,192.830002,193.050003,28919300,0.0,0.0
2023-12-27 00:00:00-05:00,192.490005,193.500000,191.089996,193.149994,48087700,0.0,0.0
2023-12-28 00:00:00-05:00,194.139999,194.660004,193.169998,193.580002,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,193.899994,194.399994,191.729996,192.529999,42628800,0.0,0.0
2024-01-02 00:00:00-05:00,187.149994,188.440002,183.889999,185.639999,82488700,0.0,0.0
2024-01-03 00:00:00-05:00,184.220001,185.880005,183.429993,184.500000,39662053,0.0,0.0

In [ ]:
#set end date for today's date for up to date data
end = '2023-12-04' #date.today()
#List to append data temporarily
ls= []
#dataframe to hold all the retrieved data
final_df = {}

#loop through each ticker in info_df
for sym in info_df["Ticker"]:

    #store data retrieved a Ticker from 2018-01-01 to today's date
    stock_data = wb.DataReader({sym}, start='2018-1-1', end= end)
    stock_data["Ticker"] = sym
    
    #appennding the data in ls list
    ls.append(stock_data)
    
    #concate that ls to final_df dataframe
    final_df = pd.concat(ls)
#show the dataframe
final_df