In [2]:
import yfinance as yf
# yf.pdr_override()
import pandas as pd

In [13]:
ticker = yf.Ticker("MSFT")
# pd.DataFrame(ticker.info)
ticker.info['marketCap']
pd.read_csv('tech.csv')

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,AAOI,Applied Optoelectronics Inc. Common Stock,$18.10,0.6400,3.67%,6.432121e+08,United States,2013.0,1070150.0,Technology,Semiconductors
1,AAPL,Apple Inc. Common Stock,$182.21,-2.0400,-1.11%,2.833870e+12,United States,1980.0,35152526.0,Technology,Computer Manufacturing
2,ABTS,Abits Group Inc Ordinary Shares,$1.23,0.0832,7.24%,2.385197e+07,China,NaN,74851.0,Technology,Computer Software: Programming Data Processing
3,ACIW,ACI Worldwide Inc. Common Stock,$29.31,-0.2200,-0.75%,3.186658e+09,United States,NaN,189997.0,Technology,Computer Software: Prepackaged Software
4,ACLS,Axcelis Technologies Inc. Common Stock,$117.09,-3.8300,-3.17%,3.834400e+09,United States,2000.0,373669.0,Technology,Industrial Machinery/Components
...,...,...,...,...,...,...,...,...,...,...,...
7239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
symbols = pd.read_csv('tech.csv')['Symbol']

data = pd.DataFrame({
    'symbol': symbols[1:5],
    'sector': '',
    'industry': '',
    'marketCap': ''
})
data

  symbol sector industry marketCap
1   AAPL
2   ABTS
3   ACIW
4   ACLS

In [9]:
for i in range(0,10):
    try:
        print(f'{symbols[i]} \n processing {i} of {len(symbols)} symbols')
        ticker = yf.Ticker(symbols[i])
        data.iloc[i]['symbol'] = symbols[i]
        data.iloc[i]['sector'] = ticker.info['sector']
        data.iloc[i]['industry'] = ticker.info['industry']
    except:
        print(f'{symbols[i]} not found. skipping...')

A
 processing 0 of 7244 symbols
AA
 processing 1 of 7244 symbols
AACG
 processing 2 of 7244 symbols
AACI
 processing 3 of 7244 symbols
AACIW
 processing 4 of 7244 symbols
AACT
 processing 5 of 7244 symbols
AADI
 processing 6 of 7244 symbols
AAGR
 processing 7 of 7244 symbols
AAGRW
 processing 8 of 7244 symbols
AAIN
 processing 9 of 7244 symbols
AAIN not found. skipping...

In [10]:
data

   symbol              sector                       industry marketCap
1       A          Healthcare         Diagnostics & Research
2      AA     Basic Materials                       Aluminum
3    AACG  Consumer Defensive  Education & Training Services
4    AACI  Financial Services                Shell Companies
5   AACIW  Financial Services                Shell Companies
6    AACT  Financial Services                Shell Companies
7    AADI          Healthcare                  Biotechnology
8    AAGR  Consumer Defensive                  Farm Products
9   AAGRW  Consumer Defensive                  Farm Products
10   AAIN

In [ ]:
#set end date for today's date for up to date data
end = '2023-12-04' #date.today()
#List to append data temporarily
ls= []
#dataframe to hold all the retrieved data
final_df = {}

#loop through each ticker in info_df
for sym in info_df["Ticker"]:

    #store data retrieved a Ticker from 2018-01-01 to today's date
    stock_data = wb.DataReader({sym}, start='2018-1-1', end= end)
    stock_data["Ticker"] = sym
    
    #appennding the data in ls list
    ls.append(stock_data)
    
    #concate that ls to final_df dataframe
    final_df = pd.concat(ls)
#show the dataframe
final_df